.carousel-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;
    /* box-shadow: 2px 2.98256px 7.4564px 2px rgba(0, 0, 0, 0.607); 
    border-radius: 9px;  */
    color: var(--light-text);
    background-color: var(--light-background);
    font-size: 15px;
}

.carousel-wrapper {
    display: flex;
    position: bottom;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 95%;   
    height: 100%;
    justify-content: center;    

}
.card-title{
    padding-bottom: 10px;
}
.carousel-content {
    padding-top: 29px;
    display: flex;
    flex-direction: column; 
    width: 100%; 
    height: 100%;  
    transition: all 250ms linear;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center; 
    
}@media(min-width:550px){
    .carousel-content{
        flex-direction: row;
    }
 }

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.project-card-image{
    width: 300px;
    height: 250px;
    border-radius: 10px; 
 }
 .card-discreption{
    display: flex; 
    flex-direction: column;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 0px;
}
.carousel-content-lang-icon-collection{
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding-top: 3px;
}
.carousel-content-lang-icons{
    width: 25px;
    height: 25px;
}
.project-card-github{
    padding-left: 10px;
    margin-bottom: 0px;
}
.project-movement{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.left-arrow, .right-arrow {
    width: 25px;
    height: 25px;
    border-radius: 24px;
    background-color: transparent;
    border: 1px solid silver; 
    color: var(--light-text);
}

.project-arrow{
    width: 25px;
        height: 25px;
}


.card-number-position{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 3px;
    padding-top: 28px;
    color: var(--light-text);
}
.circle{
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: var(--fill-circle);
    border: 1px solid var(--nav-light-text);
}
