.contact-section{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.contact-me-personal-info{
    background-color: var(--light-background);

}
.contact-container-form{
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 9px;
    padding: 15px 15px 15px 15px;
    gap: 10px;
    
}
.contact-name{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.contact-form-attribute{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    color: var(--light-text);
    justify-content: left;
}

.contact-submit{
    width: 100px;
    justify-content: center;
    color: var(--nav-light-text);
    height: 30px;
    position: center;
    background-color: var(--dark-background);
    border-radius: 10px;
    border-color: var(--dark-background);
}
.input-text{
    height: 23px;
    
}
