/* Contact Page CSS */

.contact-section-wrapper{
    display: grid;
   flex-direction: row;
   align-items: center; 
   gap: 30px; 
   padding: 10px; 
 }

 .contact-form-section{
   display: flex;
   flex-direction: column;
   background-color: var(--light-background); 
   border-radius: 9px;
   box-shadow: var(--box-shadow);
   padding: 15px;
 }
 .contact-form-section .ant-form-item-label label {
   color: var(--light-text); 
 }
 
 .contact-container-form{
   
 }
 
 .contact-form-attribute{
 
 }
 
 .icons{
   width: 25px;
   height: 25px;
 }
 
 .contact-section-image{
   width: 200px;
   height: 200px;
   display: inline-block; /* Ensure the container wraps around the image */
   padding: 4px; /* Add padding to adjust the spacing between the image and the outline */
 }
 
 .styled-image {
   display: block; /* Ensure the image takes up the entire space within the container */
   border-radius: 50%; /* Set the same radius to match the container */
   border: 3px solid var(--light-background); 
 
 }